{{!-- Character info --}}
<div>
    <h3>Character Name: {{name}}</h3>
</div>
<div>
    <p>Level {{level}} {{archetype}} </p>
    <p>Background: {{background}}</p>
    <p>Player Name: </p>
    <p>Race: {{race}}</p>
    <p>Alignment: {{aliagnment}}</p>
</div>

{{!-- Stats: value and bonus --}}
<div>
    <div>
        <p>Strength</p>
        <p>Modifier: {{strMod}}</p> {{!-- bonus --}}
        <p>{{strength}}</p> {{!-- value --}}
    </div>
    <div>
        <p>Dexterity</p>
        <p>Modifier: {{dexMod}}</p> {{!-- bonus --}}
        <p>{{dexterity}}</p> {{!-- value --}}
    </div>
    <div>
        <p>Constitution</p>
        <p>Modifier: {{conMod}}</p> {{!-- bonus --}}
        <p>{{constitution}}</p> {{!-- value --}}
    </div>
    <div>
        <p>Intelligence</p>
        <p>Modifier: {{intMod}}</p> {{!-- bonus --}}
        <p>{{intelligence}}</p> {{!-- value --}}
    </div>
    <div>
        <p>Wisdom</p>
        <p>Modifier: {{wisMod}}</p> {{!-- bonus --}}
        <p>{{wisdom}}</p> {{!-- value --}}
    </div>
    <div>
        <p>Charisma</p>
        <p>Modifier: {{chaMod}}</p> {{!-- bonus --}}
        <p>{{charisma}}</p> {{!-- value --}}
    </div>
</div>

{{!-- Saving Throws --}}
<div>
    <div>
        <p>{{#if strSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{strSaveVal}}</p> {{!-- bonus --}}
        <p>Strength</p>
    </div>
    <div>
        <p>{{#if dexSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{dexSaveVal}}</p> {{!-- bonus --}}
        <p>Dexterity</p>
    </div>
    <div>
        <p>{{#if conSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{conSaveVal}}</p> {{!-- bonus --}}
        <p>Constitution</p>
    </div>
    <div>
        <p>{{#if intSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{intSaveVal}}</p> {{!-- bonus --}}
        <p>Intelligence</p>
    </div>
    <div>
        <p>{{#if wisSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{wisSaveVal}}</p> {{!-- bonus --}}
        <p>Wisdom</p>
    </div>
    <div>
        <p>{{#if chaSaveProf}}🔳{{#else}}🔲{{/if}}Modifier: {{chaSaveVal}}</p> {{!-- bonus --}}
        <p>Charisma</p>
    </div>
    <p>Saving Throws</p>
</div>

{{!-- Skills: proficiency and bonus --}}
<div>
    <div>
        <p>{{#if acrobatics.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{acrobatics.value}}</p> {{!-- bonus --}}
        <p> Acrobatics (Dex)</p>
    </div>
    <div>
        <p>{{#if animalHandling.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{animalHandling.value}}</p> {{!-- bonus --}}
        <p> Animal Handling (Wis)</p>
    </div>
    <div>
        <p>{{#if arcana.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{arcana.value}}</p> {{!-- bonus --}}
        <p> Arcana (Int)</p>
    </div>
    <div>
        <p>{{#if athletics.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{athletics.value}}</p> {{!-- bonus --}}
        <p> Athletics (Str)</p>
    </div>
    <div>
        <p>{{#if deception.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{deception.value}}</p> {{!-- bonus --}}
        <p> Deception (Cha)</p>
    </div>
    <div>
        <p>{{#if history.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{history.value}}</p> {{!-- bonus --}}
        <p> History (Int)</p>
    </div>
    <div>
        <p>{{#if insight.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{insight.value}}</p> {{!-- bonus --}}
        <p> Insight (Wis)</p>
    </div>
    <div>
        <p>{{#if intimidation.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{intimidation.value}}</p> {{!-- bonus --}}
        <p> Intimidation (Cha)</p>
    </div>
    <div>
        <p>{{#if investigation.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{investigation.value}}</p> {{!-- bonus --}}
        <p> Investigation (Int)</p>
    </div>
    <div>
        <p>{{#if medicine.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{medicine.value}}</p> {{!-- bonus --}}
        <p> Medicine (Wis)</p>
    </div>
    <div>
        <p>{{#if nature.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{nature.value}}</p> {{!-- bonus --}}
        <p> Nature (Int)</p>
    </div>
    <div>
        <p>{{#if perception.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{perception.value}}</p> {{!-- bonus --}}
        <p> Perception (Wis)</p>
    </div>
    <div>
        <p>{{#if performance.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{performance.value}}</p> {{!-- bonus --}}
        <p> Performance (Cha)</p>
    </div>
    <div>
        <p>{{#if persuasion.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{persuasion.value}}</p> {{!-- bonus --}}
        <p> Persuasion (Cha)</p>
    </div>
    <div>
        <p>{{#if religion.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{religion.value}}</p> {{!-- bonus --}}
        <p> Religion (Int)</p>
    </div>
    <div>
        <p>{{#if slieghtOfHand.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{slieghtOfHand.value}}</p> {{!-- bonus --}}
        <p> Sleight of Hand (Dex)</p>
    </div>
    <div>
        <p>{{#if stealth.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{stealth.value}}</p> {{!-- bonus --}}
        <p> Stealth (Dex)</p>
    </div>
    <div>
        <p>{{#if survival.proficiency}}🔳{{#else}}🔲{{/if}}</p> {{!-- proficient? --}}
        <p>Modifier: {{survival.value}}</p> {{!-- bonus --}}
        <p> Survival (Wis)</p>
    </div>
    <p>Skills</p>
</div>

{{!-- Armor class, Initiative, Speed, HP --}}
<div>
    <div>
        <p>Armor Class:{{armorClass}}</p> {{!-- AC value --}}
    </div>
    <div>
        <p>Initiative:{{initiative}}</p> {{!-- Initiative bonus --}}
    </div>
    <div>
        <p>Speed:{{speed}}</p>{{!-- speed value --}}
    </div>
    <div>
        <p>Max Hit Points:{{hpMax}}</p>{{!-- HP value --}}
    </div>
</div>

{{!-- Weapons --}}
<div>
    {{!-- here is where to list all the weapon elements --}}

</div>

{{!-- Cantrips --}}
<div>

</div>

{{!-- Level 1 spells --}}
<div>

</div>