{{!-- Character info --}}
<div class="row align-items-center justify-content-around">
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <h4>Character Name: {{name}}</h4>
    </div>
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <h4 class="bold">Player Name: {{username}}</h4>
        <p class="mael">Level {{level}} {{archetype}} </p>
        <p class="bold"><span class="mael">Race:</span> {{race}}</p>
        <p class="bold"><span class="mael">Background:</span> {{background}}</p>
        <p class="bold"><span class="mael">Alignment:</span> {{alignment}}</p>
    </div>
</div>
{{!-- Stats: value and bonus --}}
<div class="row justify-content-around">
    <div class="character-box">
        <p class="mael">Strength</p>
        <p class="bold">Modifier: {{strMod}}</p> {{!-- bonus --}}
        <p class="bold">{{strength}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="mael">Dexterity</p>
        <p class="bold">Modifier: {{dexMod}}</p> {{!-- bonus --}}
        <p class="bold">{{dexterity}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="mael">Constitution</p>
        <p class="bold">Modifier: {{conMod}}</p> {{!-- bonus --}}
        <p class="bold">{{constitution}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="mael">Intelligence</p>
        <p class="bold">Modifier: {{intMod}}</p> {{!-- bonus --}}
        <p class="bold">{{intelligence}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="mael">Wisdom</p>
        <p class="bold">Modifier: {{wisMod}}</p> {{!-- bonus --}}
        <p class="bold">{{wisdom}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="mael">Charisma</p>
        <p class="bold">Modifier: {{chaMod}}</p> {{!-- bonus --}}
        <p class="bold">{{charisma}}</p> {{!-- value --}}
    </div>
    <div class="character-box">
        <p class="bold"><span class="mael">Proficiency Bonus:</span> {{proficiencyBonus}}</p>
        <p class="bold"style="page-break-after: always;">Passive Perception: {{passivePerception}}</p>
    </div>
</div>

<div class="row justify-content-around">
    {{!-- Saving Throws --}}
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <h6 class="mael">Saving Throws</h6>
        <div class="character-box">
            <p class="bold">{{#if strSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{strSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Strength</p>
        </div>
        <div class="character-box">
            <p class="bold">{{#if dexSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{dexSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Dexterity</p>
        </div>
        <div class="character-box">
            <p class="bold">{{#if conSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{conSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Constitution</p>
        </div>
        <div class="character-box">
            <p class="bold">{{#if intSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{intSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Intelligence</p>
        </div>
        <div class="character-box">
            <p class="bold">{{#if wisSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{wisSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Wisdom</p>
        </div>
        <div class="character-box">
            <p class="bold">{{#if chaSaveProf}}🔳{{else}}🔲{{/if}}Modifier: {{chaSaveVal}}</p> {{!-- bonus --}}
            <p class="mael">Charisma</p>
        </div>
        
    </div>

    {{!-- Skills: proficiency and bonus --}}
    <div class="col-12 col-sm-6 col-md-4 character-box">
    <p class="mael">Skills</p>
        <div>
            <p class="bold">{{#if acrobaticsProf}}🔳{{else}}🔲{{/if}}   Modifier: {{acrobaticsVal}} Acrobatics (Dex)</p>
        </div>
        <div>
            <p class="bold">{{#if animalHandlingProf}}🔳{{else}}🔲{{/if}}   Modifier: {{animalHandlingVal}} Animal Handling (Wis)</p>
        </div>
        <div>
            <p class="bold">{{#if arcanaProf}}🔳{{else}}🔲{{/if}}   Modifier: {{arcanaVal}} Arcana (Int)</p>
        </div>
        <div>
            <p class="bold">{{#if athleticsProf}}🔳{{else}}🔲{{/if}}   Modifier: {{athleticsVal}} Athletics (Str)</p>
        </div>
        <div>
            <p class="bold">{{#if deceptionProf}}🔳{{else}}🔲{{/if}}   Modifier: {{deceptionVal}} Deception (Cha)</p>
        </div>
        <div>
            <p class="bold">{{#if historyProf}}🔳{{else}}🔲{{/if}}   Modifier: {{historyVal}} History (Int)</p>
        </div>
        <div>
            <p class="bold">{{#if insightProf}}🔳{{else}}🔲{{/if}}   Modifier: {{insightVal}} Insight (Wis)</p>
        </div>
        <div>
            <p class="bold">{{#if intimidationProf}}🔳{{else}}🔲{{/if}}   Modifier: {{intimidationVal}} Intimidation (Cha)</p>
        </div>
        <div>
            <p class="bold">{{#if investigationProf}}🔳{{else}}🔲{{/if}}   Modifier: {{investigationVal}} Investigation (Int)</p>
        </div>
        <div>
            <p class="bold">{{#if medicineProf}}🔳{{else}}🔲{{/if}}   Modifier: {{medicineVal}} Medicine (Wis)</p>
        </div>
        <div>
            <p class="bold">{{#if natureProf}}🔳{{else}}🔲{{/if}}   Modifier: {{natureVal}} Nature (Int)</p>
        </div>
        <div>
            <p class="bold">{{#if perceptionProf}}🔳{{else}}🔲{{/if}}   Modifier: {{perceptionVal}} Perception (Wis)</p>
        </div>
        <div>
            <p class="bold">{{#if performanceProf}}🔳{{else}}🔲{{/if}}   Modifier: {{performanceVal}} Performance (Cha)</p>
        </div>
        <div>
            <p class="bold">{{#if persuasionProf}}🔳{{else}}🔲{{/if}}   Modifier: {{persuasionVal}} Persuasion (Cha)</p>
        </div>
        <div>
            <p class="bold">{{#if religionProf}}🔳{{else}}🔲{{/if}}   Modifier: {{religionVal}} Religion (Int)</p>
        </div>
        <div>
            <p class="bold">{{#if sleightOfHandProf}}🔳{{else}}🔲{{/if}}   Modifier: {{sleightOfHandVal}} Sleight of Hand (Dex)</p>
        </div>
        <div>
            <p class="bold">{{#if stealthProf}}🔳{{else}}🔲{{/if}}   Modifier: {{stealthVal}} Stealth (Dex)</p>
        </div>
        <div>
            <p class="bold">{{#if survivalProf}}🔳{{else}}🔲{{/if}}   Modifier: {{survivalVal}} Survival (Wis)</p>
        </div>
    </div>
</div>

<div class="row justify-content-around">
    {{!-- Armor class, Initiative, Speed, HP --}}
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <div>
            <p class="bold"><span class="mael">Armor Class:</span> {{armorClass}}</p> {{!-- AC value --}}
        </div>
        <div>
            <p class="bold"><span class="mael">Initiative:</span> {{initiative}}</p> {{!-- Initiative bonus --}}
        </div>
        <div>
            <p class="bold"><span class="mael">Speed:</span> {{speed}}</p>{{!-- speed value --}}
        </div>
        <div>
            <p class="bold"><span class="mael">Max Hit Points:</span> {{hpMax}}</p>{{!-- HP value --}}
        </div>
        <div>
            <p class="bold"><span class="mael">Current Hit Points:</span></p>{{!-- This value is in the db but isn't being used, it will be incorporated in future versions --}}
        </div>
        <div>
            <p class="bold"><span class="mael">Temporary Hit Points:</span></p>{{!-- This value is in the db but isn't being used, it will be incorporated in future versions --}}
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 character-box">
        <div class="character-box">
            <p><span class="mael">Hit Dice:</span> {{hitDice}}</p>
            <p><span class="mael">Hit Dice Count:</span> {{hitDiceCount}}</p>
        </div>
        <div class="character-box">
            <p><span class="mael">Death Saving Throws</span></p>
            <div>
                <p class="bold">🔲🔲🔲 Success</p>
                <p class="bold">🔲🔲🔲 Failure</p>
            </div>
        </div>
    </div>
</div>


<div class="row">

    {{!-- Weapons --}}
    <div class="col-12 col-sm-6 col-md-4 character-box">
        {{!-- here is where to list all the weapon elements --}}
        <p><span class="mael">Attacks:</span></p>
        {{#each weapon}}
            <p><span class="bold">{{this.weaponName}}</span>: dmg: {{this.weaponDamage}}</p>
        {{/each}}
    </div>

    <div class="col-12 col-sm-6 col-md-4 character-box">
        {{!-- Cantrips --}}
        <p><span class="mael">Spells Known</span></p>
        <div>
            <p class="bold">Cantrips:</p>
            {{#each cantripsKnown}}
            <p>{{this.spellName}}</p>
            {{/each}}
        </div>

        {{!-- Level 1 spells --}}
        <div>
            <p class="bold">Level 1 spells:</p>
            {{#each lvlOneSpellsKnown}}
            <p>{{this.spellName}}</p>
            {{/each}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <p><span class="mael">Personality Traits</span></p>
        <p>{{personalityTraits}}</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <p><span class="mael">Ideals</span></p>
        <p>{{ideals}}</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <p><span class="mael">Bonds</span></p>
        <p>{{bonds}}</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <p><span class="mael">Laws</span></p>
        <p>{{flaws}}</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 character-box">
        <p><span class="mael">Backstory: </span></p>
        <p>{{!-- This isn't in the db yet but we want to have chatGPT API pull a backstory for the character based on their characterobject. --}}</p>
    </div>

</div>